<%- include('header.html') %>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <% if(typeof message != 'undefined'){ %>
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only"><%= config_json.button_close %></span>
            </button>
            <p align="center">
                <strong><%= message %></strong>
            </p>
        </div>
    <% } %>
    <!-- START TIMELINE FILTER -->

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="post" action="/all_requests">
                  
                    <div class="form-group">
                        <input type="hidden" name="page" id="page" value="0"/>


                        <div class="col-md-4">
                            <div style="text-align: center;">
                                <label><%= config_json.title_sort %></label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-sort"></span>
                                    </span>
                                    <select class="form-control select" placeholder="Select to Sort" name="sort_item">
                                        <% if(sort_field == "user_detail.first_name") { %>
                                            <option value='labRequisitionID'><%= config_json.title_requisition_id %></option>
                                            <option value='user_detail.first_name' selected="selected"><%= config_json.title_patient_name %></option>
                                            <option value='created_at'><%= config_json.title_creation_time %></option>
                                        < %} else if(sort_field == "created_at") { %>
                                            <option value='labRequisitionID'><%= config_json.title_requisition_id %></option>
                                            <option value='user_detail.first_name' ><%= config_json.title_patient_name %></option>
                                            <option value='created_at' selected="selected"><%= config_json.title_creation_time %></option>
                                        <% } else { %>
                                            <option value='labRequisitionID' selected="selected"><%= config_json.title_requisition_id %>
                                                <option value='user_detail.first_name'><%= config_json.title_patient_name %></option>
                                                <option value='created_at'><%= config_json.title_creation_time %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-sort"></span>
                                        </span>
                                        <select class="form-control select" placeholder="Select to Sort" name="sort_item">
                                            <% if(sort_order == "1") { %>
                                                <option value="1" selected><%= config_json.sort_asc %></option>
                                                <option value="-1"><%= config_json.sort_desc %></option>
                                            <% } else{ %>
                                                <option value="1"><%= config_json.sort_asc %></option>
                                                <option value="-1" selected><%= config_json.sort_desc %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div style="text-align: center;">
                                    <label><%= config_json.title_search %></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-sort"></span>
                                        </span>
                                        <select class="form-control select" id="sel" placeholder="Select to Sort" name="search_item">
                                            <% if(search_item == "user_detail.first_name") { %>
                                                <option value='labRequisitionID'><%= config_json.title_requisition_id %></option>
                                                <option value='user_detail.first_name' selected="selected"><%= config_json.title_patient_name %></option>
                                                <option value='source_address'><%= config_json.title_pickup_address %></option>
                                                <option value='destination_address'><%= config_json.title_destination_address %></option>
                                                <option value='order_detail.order.clinic.name'><%= config_json.title_lab_name %></option>
                                                <option value='created_at'><%= config_json.title_created_date %></option>
                                                <option value='schedule_start_time' ><%= config_json.title_scheduled_date %></option>
                                                <% } else if(search_item == "source_address") { %>
                                                  <option value='labRequisitionID'><%= config_json.title_requisition_id %></option>
                                                  <option value='user_detail.first_name'><%= config_json.title_patient_name %></option>
                                                  <option value='source_address' selected="selected"><%= config_json.title_pickup_address %></option>
                                                  <option value='destination_address'><%= config_json.title_destination_address %></option>
                                                  <option value='order_detail.order.clinic.name'><%= config_json.title_lab_name %></option>
                                                  <option value='created_at'><%= config_json.title_created_date %></option>
                                                <option value='schedule_start_time' ><%= config_json.title_scheduled_date %></option>
                                                <% } else if(search_item == "destination_address") { %>
                                                  <option value='user_detail.first_name'><%= config_json.title_patient_name %></option>
                                                  <option value='source_address'><%= config_json.title_pickup_address %></option>
                                                  <option value='destination_address' selected="selected"><%= config_json.title_destination_address %></option>
                                                  <option value='order_detail.order.clinic.name'><%= config_json.title_lab_name %></option>
                                                  <option value='created_at'><%= config_json.title_created_date %></option>
                                                <option value='schedule_start_time' ><%= config_json.title_scheduled_date %></option>
                                                <% } else if(search_item == "labRequisitionID") { %>
                                                  <option value='labRequisitionID' selected="selected"><%= config_json.title_requisition_id %></option>
                                                <option value='user_detail.first_name'><%= config_json.title_patient_name %></option>
                                                <option value='source_address'><%= config_json.title_pickup_address %></option>
                                                <option value='destination_address'><%= config_json.title_destination_address %></option>
                                                <option value='order_detail.order.clinic.name'><%= config_json.title_lab_name %></option>
                                                <option value='created_at'><%= config_json.title_created_date %></option>
                                                <option value='schedule_start_time' ><%= config_json.title_scheduled_date %></option>
                                                <% } else if(search_item == "order_detail.order.clinic.name") { %>
                                                    <option value='labRequisitionID' ><%= config_json.title_requisition_id %></option>
                                                  <option value='user_detail.first_name'><%= config_json.title_patient_name %></option>
                                                  <option value='source_address'><%= config_json.title_pickup_address %></option>
                                                  <option value='destination_address'><%= config_json.title_destination_address %></option>
                                                  <option value='order_detail.order.clinic.name' selected="selected"><%= config_json.title_lab_name %></option>
                                                  <option value='created_at'><%= config_json.title_created_date %></option>
                                                  <option value='schedule_start_time' ><%= config_json.title_scheduled_date %></option>

                                                  <% } else if(search_item == "created_at") { %>
                                                    <option value='labRequisitionID'><%= config_json.title_requisition_id %></option>
                                                  <option value='user_detail.first_name'><%= config_json.title_patient_name %></option>
                                                  <option value='source_address'><%= config_json.title_pickup_address %></option>
                                                  <option value='destination_address'><%= config_json.title_destination_address %></option>
                                                  <option value='order_detail.order.clinic.name'><%= config_json.title_lab_name %></option>
                                                  <option value='created_at' selected="selected"><%= config_json.title_created_date %></option>
                                                  <option value='schedule_start_time' ><%= config_json.title_scheduled_date %></option>
                                                
                                                  <% } else if(search_item == "schedule_start_time") { %>
                                                    <option value='labRequisitionID'><%= config_json.title_requisition_id %></option>
                                                  <option value='user_detail.first_name'><%= config_json.title_patient_name %></option>
                                                  <option value='source_address'><%= config_json.title_pickup_address %></option>
                                                  <option value='destination_address'><%= config_json.title_destination_address %></option>
                                                  <option value='order_detail.order.clinic.name'><%= config_json.title_lab_name %></option>
                                                  <option value='created_at'><%= config_json.title_created_date %></option>
                                                  <option value='schedule_start_time' selected ="selected" ><%= config_json.title_scheduled_date %></option>
                                                
                                                  <% } else { %>
                                              <option value='labRequisitionID' selected="selected"><%= config_json.title_requisition_id %></option>
                                              <option value='user_detail.first_name'><%= config_json.title_patient_name %></option>
                                              <option value='source_address'><%= config_json.title_pickup_address %></option>
                                              <option value='destination_address'><%= config_json.title_pickup_address %></option>
                                              <option value='order_detail.order.clinic.name'><%= config_json.title_lab_name %></option>
                                              <option value='created_at'><%= config_json.title_created_date %></option>
                                                <option value='schedule_start_time' ><%= config_json.title_scheduled_date %></option>
                                              <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body panel-body-search">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-search"></span>
                                                </span>
                                                <input type="text" class="form-control" value="<%= search_value %>" name="search_value" placeholder="Search..."/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div style="text-align: center;">
                                    <label><%= config_json.title_date_filter %></label>
                                </div>
                                <div class="col-md-12">

                                    <div class="btn-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" value="<%= filter_start_date %>" placeholder="Start Date" name="start_date" id="start_date" readonly/>
                                            <span class="input-group-addon add-on">-</span>
                                            <input type="text" class="form-control datepicker" value="<%= filter_end_date %>" placeholder="End Date" name="end_date" id="end_date" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="col-md-6">
                          
                            <div class="col-md-8">
                              <div style="text-align: center;">
                                <label><%= config_json.title_pageno %></label>
                            </div>
                                <ul class="pagination">
                                    <%- include('paginate_lookup.html') %>
                                </ul>
                            </div>
                        </div>


                        



                        
                       <div class="col-md-3">
                        
              <div class="col-md-6">
                <div style="text-align: center;">
                  <label><%= config_json.title_payment %></label>
              </div>
              <div class="col-md-12" style="padding: 0px;">
             <select class="form-control select" id="payment" placeholder="Select payment mode" name="payment">
                  <% if(payment == 1) { %>
                    <option value='2'><%= config_json.title_both %></option>
                    <option value='1' selected><%= config_json.title_cash %></option>
                    <option value='0'><%= config_json.title_card %></option>
                  <% } else if(payment == 0){ %>
                    <option value='2'><%= config_json.title_both %></option>
                    <option value='1'><%= config_json.title_cash %></option>
                    <option value='0' selected><%= config_json.title_card %></option>
                  <% } else { %>
                    <option value='2' selected><%= config_json.title_both %></option>
                    <option value='1'><%= config_json.title_cash %></option>
                    <option value='0'><%= config_json.title_card %></option>
                  <% } %>
               </select>
             </div>
           </div>
          <div class="col-md-6">
            <div style="text-align: center;">
              <label><%= config_json.title_status %></label>
          </div>

              <div class="col-md-12" style="padding: 0px;">
             <select class="form-control select" id="status" placeholder="Select status" name="status">
                 


                  <% if(status == 101) { %>
                    <option value='0'><%= config_json.title_eligibility_pending %></option>
                    <option value='2'><%= config_json.title_pending_assignment %></option>
                    <option value='3'><%= config_json.title_pending_schedule %></option>
                    <option value='4'><%= config_json.title_waiting_collection %></option>
                    <option value='11'><%= config_json.title_receive_specimen %></option>
                    <option value='21'><%= config_json.title_waiting_result %></option>
                    <option value='41'><%= config_json.title_ready_for_reporting %></option>
                    <option value='61'><%= config_json.title_reported %></option>
                    <option value='7'><%= config_json.title_hold %></option>
                    <option value='101' selected><%= config_json.title_cancelled %></option>
                    <option value='1'><%= config_json.title_insurance_rejected %></option>
                    <option value='1000'><%= config_json.title_all %></option>
                    
                  <% } else if(status == 7){ %>
                    <option value='0'><%= config_json.title_eligibility_pending %></option>
                    <option value='2'><%= config_json.title_pending_assignment %></option>
                    <option value='3'><%= config_json.title_pending_schedule %></option>
                    <option value='4'><%= config_json.title_waiting_collection %></option>
                    <option value='11'><%= config_json.title_receive_specimen %></option>
                    <option value='21'><%= config_json.title_waiting_result %></option>
                    <option value='41'><%= config_json.title_ready_for_reporting %></option>
                    <option value='61'><%= config_json.title_reported %></option>
                    <option value='7' selected><%= config_json.title_hold %></option>
                    <option value='101'><%= config_json.title_cancelled %></option>
                    <option value='1'><%= config_json.title_insurance_rejected %></option>
                    <option value='1000'><%= config_json.title_all %></option>

                    <% } else if(status == 61){ %>
                      <option value='0'><%= config_json.title_eligibility_pending %></option>
                      <option value='2'><%= config_json.title_pending_assignment %></option>
                      <option value='3'><%= config_json.title_pending_schedule %></option>
                      <option value='4'><%= config_json.title_waiting_collection %></option>
                      <option value='11'><%= config_json.title_receive_specimen %></option>
                      <option value='21'><%= config_json.title_waiting_result %></option>
                      <option value='41'><%= config_json.title_ready_for_reporting %></option>
                      <option value='61' selected><%=  config_json.title_reported %></option>
                      <option value='7'><%= config_json.title_hold %></option>
                      <option value='101'><%= config_json.title_cancelled %></option>
                      <option value='1'><%= config_json.title_insurance_rejected %></option>
                      <option value='1000'><%= config_json.title_all %></option>

                      <% } else if(status == 41){ %>
                        <option value='0'><%= config_json.title_eligibility_pending %></option>
                        <option value='2'><%= config_json.title_pending_assignment %></option>
                        <option value='3'><%= config_json.title_pending_schedule %></option>
                        <option value='4'><%= config_json.title_waiting_collection %></option>
                        <option value='11'><%= config_json.title_receive_specimen %></option>
                        <option value='21'><%= config_json.title_waiting_result %></option>
                        <option value='41' selected><%= config_json.title_ready_for_reporting %></option>
                        <option value='61'><%= config_json.title_reported %></option>
                        <option value='7'><%= config_json.title_hold %></option>
                        <option value='101'><%= config_json.title_cancelled %></option>
                        <option value='1'><%= config_json.title_insurance_rejected %></option>
                        <option value='1000'><%= config_json.title_all %></option>
                        <% } else if(status == 21){ %>
                          <option value='0'><%= config_json.title_eligibility_pending %></option>
                          <option value='2'><%= config_json.title_pending_assignment %></option>
                          <option value='3'><%= config_json.title_pending_schedule %></option>
                          <option value='4'><%= config_json.title_waiting_collection %></option>
                          <option value='11'><%= config_json.title_receive_specimen %></option>
                          <option value='21' selected><%= config_json.title_waiting_result %></option>
                          <option value='41'><%= config_json.title_ready_for_reporting %></option>
                          <option value='61'><%= config_json.title_reported %></option>
                          <option value='7'><%= config_json.title_hold %></option>
                          <option value='101'><%= config_json.title_cancelled %></option>
                          <option value='1'><%= config_json.title_insurance_rejected %></option>
                          <option value='1000'><%= config_json.title_all %></option>
                          <% } else if(status == 11){ %>
                            <option value='0'><%= config_json.title_eligibility_pending %></option>
                            <option value='2'><%= config_json.title_pending_assignment %></option>
                            <option value='3'><%= config_json.title_pending_schedule %></option>
                            <option value='4'><%= config_json.title_waiting_collection %></option>
                            <option value='11' selected><%= config_json.title_receive_specimen %></option>
                            <option value='21'><%= config_json.title_waiting_result %></option>
                            <option value='41'><%= config_json.title_ready_for_reporting %></option>
                            <option value='61'><%= config_json.title_reported %></option>
                            <option value='7'><%= config_json.title_hold %></option>
                            <option value='101'><%= config_json.title_cancelled %></option>
                            <option value='1'><%= config_json.title_insurance_rejected %></option>
                            <option value='1000'><%= config_json.title_all %></option>
                            <% } else if(status == 4){ %>
                              <option value='0'><%= config_json.title_eligibility_pending %></option>
                              <option value='2'><%= config_json.title_pending_assignment %></option>
                              <option value='3'><%= config_json.title_pending_schedule %></option>
                              <option value='4' selected><%= config_json.title_waiting_collection %></option>
                              <option value='11'><%= config_json.title_receive_specimen %></option>
                              <option value='21'><%= config_json.title_waiting_result %></option>
                              <option value='41'><%= config_json.title_ready_for_reporting %></option>
                              <option value='61'><%= config_json.title_reported %></option>
                              <option value='7'><%= config_json.title_hold %></option>
                              <option value='101'><%= config_json.title_cancelled %></option>
                              <option value='1'><%= config_json.title_insurance_rejected %></option>
                              <option value='1000'><%= config_json.title_all %></option>
                              <% } else if(status == 3){ %>
                                <option value='0'><%= config_json.title_eligibility_pending %></option>
                                <option value='2'><%= config_json.title_pending_assignment %></option>
                                <option value='3' selected><%= config_json.title_pending_schedule %></option>
                                <option value='4'><%= config_json.title_waiting_collection %></option>
                                <option value='11'><%= config_json.title_receive_specimen %></option>
                                <option value='21'><%= config_json.title_waiting_result %></option>
                                <option value='41'><%= config_json.title_ready_for_reporting %></option>
                                <option value='61'><%= config_json.title_reported %></option>
                                <option value='7'><%= config_json.title_hold %></option>
                                <option value='101'><%= config_json.title_cancelled %></option>
                                <option value='1'><%= config_json.title_insurance_rejected %></option>
                                <option value='1000'><%= config_json.title_all %></option>
                                <% } else if(status == 2){ %>
                                  <option value='0'><%= config_json.title_eligibility_pending %></option>
                                  <option value='2' selected><%= config_json.title_pending_assignment %></option>
                                  <option value='3'><%= config_json.title_pending_schedule %></option>
                                  <option value='4'><%= config_json.title_waiting_collection %></option>
                                  <option value='11'><%= config_json.title_receive_specimen %></option>
                                  <option value='21'><%= config_json.title_waiting_result %></option>
                                  <option value='41'><%= config_json.title_ready_for_reporting %></option>
                                  <option value='61'><%= config_json.title_reported %></option>
                                  <option value='7'><%= config_json.title_hold %></option>
                                  <option value='101' ><%= config_json.title_cancelled %></option>
                                  <option value='1'><%= config_json.title_insurance_rejected %></option>
                                  <option value='1000'><%= config_json.title_all %></option>
                                  <% } else if(status == 0){ %>
                                    <option value='0' selected><%= config_json.title_eligibility_pending %></option>
                                    <option value='2'><%= config_json.title_pending_assignment %></option>
                                    <option value='3'><%= config_json.title_pending_schedule %></option>
                                    <option value='4'><%= config_json.title_waiting_collection %></option>
                                    <option value='11'><%= config_json.title_receive_specimen %></option>
                                    <option value='21'><%= config_json.title_waiting_result %></option>
                                    <option value='41'><%= config_json.title_ready_for_reporting %></option>
                                    <option value='61'><%= config_json.title_reported %></option>
                                    <option value='7'><%= config_json.title_hold %></option>
                                    <option value='101' ><%= config_json.title_cancelled %></option>
                                    <option value='1'><%= config_json.title_insurance_rejected %></option>
                                    <option value='1000'><%= config_json.title_all %></option>
                                    <% } else if(status == 1000){ %>
                                    <option value='0' ><%= config_json.title_eligibility_pending %></option>
                                    <option value='2'><%= config_json.title_pending_assignment %></option>
                                    <option value='3'><%= config_json.title_pending_schedule %></option>
                                    <option value='4'><%= config_json.title_waiting_collection %></option>
                                    <option value='11'><%= config_json.title_receive_specimen %></option>
                                    <option value='21'><%= config_json.title_waiting_result %></option>
                                    <option value='41'><%= config_json.title_ready_for_reporting %></option>
                                    <option value='61'><%= config_json.title_reported %></option>
                                    <option value='7'><%= config_json.title_hold %></option>
                                    <option value='101' ><%= config_json.title_cancelled %></option>
                                    <option value='1'><%= config_json.title_insurance_rejected %></option>
                                    <option value='1000' selected ><%= config_json.title_all %></option>
                                    <% } else if(status == 1){ %>
                                      <option value='0' ><%= config_json.title_eligibility_pending %></option>
                                      <option value='2'><%= config_json.title_pending_assignment %></option>
                                      <option value='3'><%= config_json.title_pending_schedule %></option>
                                      <option value='4'><%= config_json.title_waiting_collection %></option>
                                      <option value='11'><%= config_json.title_receive_specimen %></option>
                                      <option value='21'><%= config_json.title_waiting_result %></option>
                                      <option value='41'><%= config_json.title_ready_for_reporting %></option>
                                      <option value='61'><%= config_json.title_reported %></option>
                                      <option value='7'><%= config_json.title_hold %></option>
                                      <option value='101' ><%= config_json.title_cancelled %></option>
                                      <option value='1' selected><%= config_json.title_insurance_rejected %></option>
                                      <option value='1000'><%= config_json.title_all %></option>
                                    
                  <% } else { %>
                                   
                                    <option value='0'><%= config_json.title_eligibility_pending %></option>
                                    <option value='2'><%= config_json.title_pending_assignment %></option>
                                    <option value='3'><%= config_json.title_pending_schedule %></option>
                                    <option value='4'><%= config_json.title_waiting_collection %></option>
                                    <option value='11'><%= config_json.title_receive_specimen %></option>
                                    <option value='21'><%= config_json.title_waiting_result %></option>
                                    <option value='41'><%= config_json.title_ready_for_reporting %></option>
                                    <option value='61'><%= config_json.title_reported %></option>
                                    <option value='7'><%= config_json.title_hold %></option>
                                    <option value='101'><%= config_json.title_cancelled %></option>
                                    <option value='1'><%= config_json.title_insurance_rejected %></option>
                                    <option value='1000'selected ><%= config_json.title_all %></option>
                                    
                  <% } %>
               </select>
             </div>
           </div>
            </div>
            <div class="col-md-3">
             
            <div  class="form-group col-md-6" style="padding: 0px;" >
              <div>
                <div style="text-align: center;">
                  <label><%= config_json.title_submit %></label>
              </div>
              <div class="col-md-6">
                <button type="submit" id="apply_filter" class="btn btn-primary" style="height: 35px; width: 220%;  "><span><%= config_json.button_apply %></span></button>
              </div>
            </div>
            </div> 
            
            <div class="col-md-6">
             
              <div  class="form-group col-md-6" style="padding: 0px;" >
                <div>
                  <div style="text-align: center;">
                    <!-- <label><%= config_json.title_count %></label> -->
                </div>
                <div class="col-md-12">
                 <label><%= config_json.title_count %></label>
                 <b><label><%= total_count %></label></b>
                </div>
              </div>
              </div> 
          </form>


        </div>
      </div>
    </div>
  </div> 
    
    <!-- END TIMELINE FILTER -->


    <div class="row">
        <div
            class="col-md-12">


            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-default">
                <div class="table-responsive" style="padding-bottom: 175px;">
                <table class="table text-center" id="customers2">
                    <thead>                                             
                        <tr>

                          <th>
                            <%= config_json.title_requisition_id %>
                        </th>
                        <th>
                          <%= config_json.title_patient_name %>
                        </th>
                        <th>
                          <%= config_json.title_created_date_and_time %>
                        </th>
                        <th>
                          <%= config_json.title_scheduled_date_and_time %>
                        </th>
                        
                        <th>
                          <%= config_json.title_test_name %>
                        </th>
                          <th>
                            <%= config_json.title_pickup_address %>
                          </th>
                          <th>
                            <%= config_json.title_destination_address %>
                          </th>
                          
                          <th>
                            <%= config_json.title_lab_name %>
                          </th>
        
                          <th >
                            <%= config_json.title_phlebotomist_name %>
                          </th>
                          <th >
                            <%= config_json.title_status %>
                          </th>
                          <th >
                            <%= config_json.title_payment %>
                          </th>
                          <th >
                            <%= config_json.button_action %>
                          </th>
                        </tr>
                      </thead>

                    <tbody>
                        <% detail.forEach(function(data){ 
                                                
                        let statusRowBg = '';     
                        let statusTripText = '';
                        <!-- is_provider_status -->
                        let getTripResponse = common_utils.get_trip_text_from_status(data.status);
                        if(getTripResponse){
                            statusRowBg = getTripResponse.status_row_bg
                            statusTripText = getTripResponse.status_trip_text
                        }
                    %>  
                    
                    <!-- <tr class="AAAAA"><td colspan="8"><%= JSON.stringify(data.provider_detail)%></td></tr> -->
                        <tr style="background-color: <%= statusRowBg %>;">

                            <td><%= data.labRequisitionID  %> </td>
                            <td>
                                <% 
                                <!-- console.log(total_count); -->
                                let patientNameString = '';
                                if(data.order_detail){
                                  if(data.order_detail.order){
                                    if(data.order_detail.order.patient){
                                      patientNameString = data.order_detail.order.patient.firstname
                                    }
                                    if(data.order_detail.order.patient){
                                      patientNameString = patientNameString + " " + data.order_detail.order.patient.lastname
                                    }                        
                                  }
                                }
                                %>
                                <%= patientNameString %>
                              
                              <!-- <td><%= moment(data.created_at).tz(data.timezone).format("DD MMM YYYY hh:mm a") %>  <%=  data.timezone %> </td> -->
                              <td>
                                <% 
                                  let orderDateString = '';
                                  if(data.created_at){
                                    if(data.created_at!=""){
                                      orderDateString = moment(data.created_at).format("DD MMM YYYY hh:mm a")  
                                    }
                                  }
                                  if(data.lis_created_time){
                                      if(data.lis_created_time!=""){
                                        orderDateString = moment(data.lis_created_time).format("DD MMM YYYY hh:mm a")  
                                      }
                                  } 
                                  %>
                                  <%= orderDateString %>  
                                  <!-- <%= moment(data.lis_created_time).tz(data.timezone).format("DD MMM YYYY hh:mm a") %> <%=  data.timezone %>  -->
                                </td>
                              <td><%= moment(data.schedule_start_time).format("DD MMM YYYY hh:mm a") %> </td>
                              
                            <td>

                                <% 
                            let labTestNameString = '';
                            if(data.order_detail){
                                if(data.order_detail.order){
                                    data.order_detail.order.orderlist.forEach(function(dataOrder){ 
                                        if(labTestNameString == ""){
                                            labTestNameString += dataOrder.testname
                                        }
                                        else{
                                            labTestNameString += " , "+ dataOrder.testname
                                        }
                                }); 
                            }
                        }

                             let labTestingNameString = ""
                             let getShortenText = common_utils.get_short_text(labTestNameString);
                             if(getShortenText.trimmed_string){
                               labTestingNameString = getShortenText.trimmed_string
                             }

                             %>
                             <%= labTestingNameString %> 
                             <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="left" title="<%= labTestNameString %>" data-original-title="<%= labTestingNameString %>">!</button>
                              </span>

                                </td>
                            <td>
                                <%= data.source_address %>
                            </td>
                            <td>
                                <%= data.destination_address %>
                            </td>
                            
                            <td>
                                <% 
                                let clinicNameString = '';
                                if(data.order_detail){ 
                                    if(data.order_detail.order){
                                        if(data.order_detail.order.clinic){
                                        clinicNameString = data.order_detail.order.clinic.name
                                        }
                                        if(data.order_detail.order.clinic){
                                        clinicNameString = clinicNameString + " - " + data.order_detail.order.clinic.code
                                        }
                                        
                                    }
                                }
                                %>
                                <%= clinicNameString %>
                            </td>
                            <td >
<% 
                                let assignedProviderName = "";
                                if(data.provider_detail && data.status > 2){                                
                                  
                                    assignedProviderName = data.provider_detail.first_name + " " + data.provider_detail.last_name;
                                  
                                } %>
                                <%= assignedProviderName %>
                                <!--- <%= data.provider_detail.first_name %> <%= data.provider_detail.last_name %> -->
                              </td>

                            <td class="requeststatus">
                                <span style="background-color: <%= statusRowBg %>;">
                                <!-- <% if(data.is_trip_cancelled == 1){ %>
                                    <%=config_json.title_cancelled_request %>
                                <% } else if(data.is_trip_cancelled == 0){ %>
                                    <%=config_json.title_trip_status_pending %>
                                <% } %> -->
                                <%= statusTripText %>
                                </span>
                            </td>


                            <td>
                                <% if(data.payment_mode == 1) { %>
                                    <span class="label label-default"><%= config_json.title_pay_by_cash %></span>
                                <% } else { %>
                                    <span class="label label-primary"><%= config_json.title_pay_by_card %></span>
                                <% } %>
                            </td>
                            <!-- Added by Mayursinh Zala for OpenProject task#598 -->
                            <td>
                                <div class="btn-group" style="margin-right:15px;">
                                    <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><%= config_json.button_action %>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <form method="post" action="/trip_detail">
                                                <input type="hidden" name="id" value="<%= data._id %>"/>
                                                <input type="hidden" name="u_name" value="<%= data.user_detail.first_name %> <%= data.user_detail.last_name %>"/>

                                                <button type="submit" class="btn btn-default" style="width:100%;"><%= config_json.button_view_detail %>
                                                </button>
                                            </form>
                                        </li>

                                    </div>
                                </ul>
                            </div>
                        </td>
                        <!-- Added by Mayursinh Zala for OpenProject task#598 -->

                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    </div>
    <!-- END SIMPLE DATATABLE -->

</div></div></div><!-- PAGE CONTENT WRAPPER --></div><!-- END PAGE CONTENT --></div><!-- END PAGE CONTAINER --><script type="text/javascript">$(document).ready(function () {


    $('#start_date').datepicker({format: 'yyyy-mm-dd'}).on("input change", function (e) {
        // var end_date = $('#start_date').datepicker('getDate');
        // end_date.setDate(end_date.getDate() + 1);
        // $('#end_date').datepicker('setStartDate', end_date);
        $('.datepicker-dropdown').hide()
    });

    $('#end_date').datepicker({format: 'yyyy-mm-dd'}).on("input change", function (e) { /*var start_date = $('#end_date').datepicker('getDate');
          start_date.setDate(start_date.getDate() - 1);
          $('#start_date').datepicker('setEndDate', start_date);*/
        $('.datepicker-dropdown').hide()
    });

});


function export_excel() {

    $.ajax({
        type: 'POST',
        url: '/genetare_schedules_request_excel',
        data: $('.form-horizontal').serialize(),
        dataType: "json",
        success: function (res) {
            window.open(res)
        }
    });
}</script><%- include('footer_list.html') %>
